/* Slider */

.slider {
  margin-top: 129px;
  margin-bottom: 90px;
}

.slider-content {
  position: relative;
  display: flex;
  height: 371px;
  background-color: #eee4db;
}

.pagination {
  position: absolute;
  top: 17px;
  left: 28px;
}

.slider-counter {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;

  color: rgba(30, 6, 6, 0.05);
}

.slider-counter-buttons {
  margin: 0;
  margin-left: 3px;
  margin-top: -3px;
}

.slider-button {
  width: 31px;
  height: 3px;
  margin-bottom: 11px;
}

.rectangle-button {
  width: 31px;
  height: 3px;
  margin-bottom: 11px;

  background: #d6cac2;
  border: none;

  cursor: pointer;
}

.rectangle-button.active {
  background-color: rgba(30, 6, 6, 0.6);
}

.rectangle-button:hover,
.rectangle-button:focus {
  background-color: #725f5b;

  outline: none;
}

.slider-block {
  max-width: 307px;
  margin: 89px 0 89px 133px;
}

.slider-title {
  margin: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;

  color: #1e0606;
}

.slider-text {
  font-family: "Crimson Text", "Times New Roman", serif;
  font-size: 20px;
  line-height: 25px;

  margin-bottom: 20px;

  color: #1e0606;
}

.slider-img {
  position: absolute;
  left: 445px;
  bottom: 0;
}

.slider-text-bottom {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  text-align: center;
  text-transform: uppercase;

  padding: 11px 0;
  margin: 0;

  color: #ffffff;
  background-color: #c29974;
}

/* Categories */

.categories {
  margin-bottom: 90px;
}

.categories-title {
  margin: 30px 0;
}

.categories-cards {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -10px;
}

.categories-list {
  position: relative;

  width: 280px;
  height: 270px;

  margin: 0 10px 20px 10px;
}

.categories-list:nth-child(1) {
  background-color: #dbe4db;
}

.categories-list:nth-child(2) {
  background-color: rgba(186, 142, 107, 0.3);
}

.categories-list:nth-child(3) {
  background-color: #f8f2da;
}

.categories-list:nth-child(4) {
  background-color: rgba(9, 3, 79, 0.17);
}

.category-link:hover .img-title,
.category-link:focus .img-title {
  text-decoration: underline;
}

.category-link {
  display: flex;

  width: 100%;
  height: 100%;

  outline: none;
}

.category-img {
  margin: auto;
}

.img-title {
  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 0 0 40px rgba(147, 3, 3, 0.25);
}

.categories-switch {
  display: flex;
  align-items: center;

  margin-top: 10px;
}

.vector {
  width: 37px;
  height: 37px;

  margin-right: 6px;

  background-color: rgba(112, 187, 220, 0.2);

  border: none;
  outline: none;
}

.vector:hover,
.vector:focus {
  opacity: 0.7;
}

.vector:active {
  opacity: 0.3;
}

.categories-text {
  margin: 0;
  margin-left: 14px;
  max-width: 580px;
}

/* Delivery */

.delivery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;

  max-height: 559px;
}

.delivery-img {
  margin-right: 60px;
}

.delivery-block {
  width: 540px;
}

.delivery-title {
  margin: 30px 0 6px 60px;
}

.delivery-list {
  margin: 0;
}

.delivery-item-button {
  font-family: "Crimson Text", "Times New Roman", serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;

  text-align: start;

  width: 326px;
  height: 55px;
  padding-left: 60px;

  padding: 14px 180px 11px 60px;

  border: none;

  color: #1e0606;
  background-color: transparent;

  cursor: pointer;
}

.delivery-item-button:hover,
.delivery-item-button:focus {
  font-family: "Crimson Text", "Times New Roman", serif;
  font-weight: 700;

  background-color: rgba(112, 187, 220, 0.2);

  outline: none;
}

.delivery-item-button.active {
  font-family: "Crimson Text", "Times New Roman", serif;
  font-weight: 700;

  background-color: rgba(112, 187, 220, 0.2);
}

.delivery-text {
  margin: 0;
  padding-left: 60px;
}

.delivery-text.first {
  margin-top: 19px;
  margin-bottom: 15px;
}

.delivery-text.second {
  margin-bottom: 26px;
}

.button.delivery {
  margin-left: 60px;
}

/* Partners */

.partners {
  margin-bottom: 90px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partners-link {
  display: block;

  outline: none;
}

.partners-link:hover,
.partners-link:focus {
  opacity: 0.7;
}

.partners-item:active {
  opacity: 0.3;
}

/* DLK and Map */

.dlk-map {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 147px;
}

.dlk {
  max-width: 543px;
  margin-top: 26px;
  margin-right: 57px;
  padding: 0 30px 35px 30px;

  background-color: #e1f0f7;
}

.dlk-title {
  margin: -25px 0 10px 0;
}

.about {
  font-family: "Crimson Text", "Times New Roman", serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;

  margin: 0;
  margin-bottom: 10px;
}

.dlk-text {
  margin: 0;
  margin-bottom: 20px;
}

.contacts {
  position: relative;
  max-width: 543px;
  margin-top: 26px;
  padding: 0 30px 82px 30px;

  background-color: #e1f0f7;
}

.contacts-title {
  margin: -25px 0 20px 0;
}

.contacts-text {
  margin-bottom: 20px;
}

.map {
  position: absolute;
}
