/* Blog */

.blog {
  margin-bottom: 56px;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -10px;
}

.blog-item {
  width: 400px;

  padding: 0 10px;
  margin-bottom: 14px;
}

.blog-article {
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.blog-item-date {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;

  color: #818181;

  mix-blend-mode: normal;
}

.blog-img {
  margin-bottom: 17px;
}

.blog-item-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;

  margin: 10px 0 15px;

  color: #1e0606;
}

.blog-item-title:hover {
  text-decoration: underline;
}

.blog-item-title:active {
  text-decoration: underline;
}

.blog-item-text {
  font-size: 18px;
  line-height: 25px;

  margin: 0 0 20px;

  color: #1e0606;
}
